In [2]:
import pandas as pd
import numpy as np
import math

In [3]:
teams = ['Atlanta Dream.csv', 'Chicago Sky.csv', 'Connecticut Sun.csv', 'Dallas Wings.csv', 'Indiana Fever.csv', 'Las Vegas Aces.csv', 'Los Angeles Sparks.csv', 'Minnesota Lynx.csv', 'New York Liberty.csv', 'Phoenix Mercury.csv', 'Seattle Storm.csv', 'Washington Mystics.csv']


teams_columns = ['PLAYER', '2023 TYPE', '2023', '2024 TYPE', '2024', '2025 TYPE', '2025', '2026 TYPE', '2026', '2027 TYPE', '2027']

teams_dict = {'Atlanta Dream':'team-data/Atlanta Dream.csv', 'Chicago Sky':'team-data/Chicago Sky.csv', 'Connecticut Sun':'team-data/Connecticut Sun.csv', 'Dallas Wings':'team-data/Dallas Wings.csv', 'Indiana Fever':'team-data/Indiana Fever.csv', 'Las Vegas Aces':'team-data/Las Vegas Aces.csv', 'Los Angeles Sparks':'team-data/Los Angeles Sparks.csv', 'Minnesota Lynx':'team-data/Minnesota Lynx.csv', 'New York Liberty':'team-data/New York Liberty.csv', 'Phoenix Mercury':'team-data/Phoenix Mercury.csv', 'Seattle Storm':'team-data/Seattle Storm.csv', 'Washington Mystics':'team-data/Washington Mystics.csv'   
}


df1 = pd.read_csv(teams_dict['Atlanta Dream'], usecols=teams_columns)
df1 = df1.iloc[:18].drop([15,16])
df1['Team'] = teams[0]
df2 = pd.read_csv(teams_dict['Chicago Sky'], usecols=teams_columns)
df2 = df2.iloc[:22].drop([19,20])
df2['Team'] = teams[1]
df3 = pd.read_csv(teams_dict['Connecticut Sun'], usecols=teams_columns)
df3 = df3.iloc[:20].drop([17,18])
df3['Team'] = teams[2]
df4 = pd.read_csv(teams_dict['Dallas Wings'], usecols=teams_columns)
df4 = df4.iloc[:16].drop([13,14])
df4['Team'] = teams[3]
df5 = pd.read_csv(teams_dict['Indiana Fever'], usecols=teams_columns)
df5 = df5.iloc[:20].drop([17,18])
df5['Team'] = teams[4]
df6 = pd.read_csv(teams_dict['Las Vegas Aces'], usecols=teams_columns)
df6 = df6.iloc[:17].drop([14,15])
df6['Team'] = teams[5]
df7 = pd.read_csv(teams_dict['Los Angeles Sparks'], usecols=teams_columns)
df7 = df7.iloc[:20].drop([17,18])
df7['Team'] = teams[6]
df8 = pd.read_csv(teams_dict['Minnesota Lynx'], usecols=teams_columns)
df8 = df8.iloc[:20].drop([17,18])
df8['Team'] = teams[7]
df9 = pd.read_csv(teams_dict['New York Liberty'], usecols=teams_columns)
df9 = df9.iloc[:19].drop([16,17])
df9['Team'] = teams[8]
df10 = pd.read_csv(teams_dict['Phoenix Mercury'], usecols=teams_columns)
df10 = df10.iloc[:17].drop([14,15])
df10['Team'] = teams[9]
df11 = pd.read_csv(teams_dict['Seattle Storm'], usecols=teams_columns)
df11 = df11.iloc[:20].drop([17,18])
df11['Team'] = teams[10]
df12 = pd.read_csv(teams_dict['Washington Mystics'], usecols=teams_columns)
df12 = df12.iloc[:20].drop([17,18])
df12['Team'] = teams[11]
df12

,PLAYER,2023 TYPE,2023,2024 TYPE,2024,2025 TYPE,2025,2026 TYPE,2026,2027 TYPE,2027,Team
0,Elena Delle Donne,V,"$234,350",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
1,Brittney Sykes,V,"$190,000",V,"$190,000",V,"$195,000",UFA,NaN,NaN,NaN,Washington Mystics.csv
2,Natasha Cloud,V,"$190,000",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
3,Myisha Hines-Allen,V,"$175,100",V,"$180,200",UFA,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
4,Ariel Atkins,V,"$175,000",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
5,Shatori Walker-Kimbrough,V,"$95,000",U,"$97,850",UFA,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
6,Tianna Hawkins,TC,"$74,305",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
7,Amanda Zahui B.,TC,"$74,305",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
8,Shakira Austin,U,"$73,584",U,"$80,943",OPT,"$91,981",RFA,NaN,NaN,NaN,Washington Mystics.csv
9,Li Meng,TC,"$62,285",Reserved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
10,Alisia Jenkins,TC,"$62,285",RFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
11,Jazmine Jones,TC,"$62,285",RFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
12,Stephanie Jones,TC,"$62,285",Reserved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
13,Evina Westbrook,TC,"$62,285",Reserved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
14,Rui Machida,UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
15,Jazmine Jones,Reserved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
16,Klara Lundquist,SuspCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
19,Cap Room,NaN,"$287,466",NaN,"$914,207",NaN,"$1,220,119",NaN,"$1,552,300",NaN,"$1,598,800",Washington Mystics.csv

In [4]:
frames = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12]
df = pd.concat(frames)
df

,PLAYER,2023 TYPE,2023,2024 TYPE,2024,2025 TYPE,2025,2026 TYPE,2026,2027 TYPE,2027,Team
0,Cheyenne Parker,V,"$216,100",V,"$200,000",UFA,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
1,Allisha Gray,V,"$194,600",V,"$185,000",V,"$190,000",UFA,NaN,NaN,NaN,Atlanta Dream.csv
2,Danielle Robinson,V,"$155,000",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
3,Monique Billings,V,"$145,000",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
4,Nia Coffey,V,"$130,000",UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
...,...,...,...,...,...,...,...,...,...,...,...,...
13,Evina Westbrook,TC,"$62,285",Reserved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
14,Rui Machida,UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
15,Jazmine Jones,Reserved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
16,Klara Lundquist,SuspCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
19,Cap Room,NaN,"$287,466",NaN,"$914,207",NaN,"$1,220,119",NaN,"$1,552,300",NaN,"$1,598,800",Washington Mystics.csv

In [5]:
def format(x):
    if (pd.isna(x)):
        return None
    temp = x.replace(",", "").replace("$", "")
    return int(temp)

In [6]:
dfa = df.astype({'2023':'string','2024':'string','2025':'string','2026':'string','2027':'string'})
years = ['2023', '2024', '2025', '2026', '2027']
for i in years:
    dfa[i] = dfa[i].map(format)
dfa

,PLAYER,2023 TYPE,2023,2024 TYPE,2024,2025 TYPE,2025,2026 TYPE,2026,2027 TYPE,2027,Team
0,Cheyenne Parker,V,216100.0,V,200000.0,UFA,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
1,Allisha Gray,V,194600.0,V,185000.0,V,190000.0,UFA,NaN,NaN,NaN,Atlanta Dream.csv
2,Danielle Robinson,V,155000.0,UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
3,Monique Billings,V,145000.0,UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
4,Nia Coffey,V,130000.0,UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
...,...,...,...,...,...,...,...,...,...,...,...,...
13,Evina Westbrook,TC,62285.0,Reserved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
14,Rui Machida,UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
15,Jazmine Jones,Reserved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
16,Klara Lundquist,SuspCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington Mystics.csv
19,Cap Room,NaN,287466.0,NaN,914207.0,NaN,1220119.0,NaN,1552300.0,NaN,1598800.0,Washington Mystics.csv

In [7]:
dftest = df[df['Team'] == 'Atlanta Dream.csv'].dropna(subset=['2023'])
dftest = dftest.astype({'2023':'string'})
dftest['2023'] = dftest['2023'].map(format)
dftest

,PLAYER,2023 TYPE,2023,2024 TYPE,2024,2025 TYPE,2025,2026 TYPE,2026,2027 TYPE,2027,Team
0,Cheyenne Parker,V,216100,V,"$200,000",UFA,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
1,Allisha Gray,V,194600,V,"$185,000",V,"$190,000",UFA,NaN,NaN,NaN,Atlanta Dream.csv
2,Danielle Robinson,V,155000,UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
3,Monique Billings,V,145000,UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
4,Nia Coffey,V,130000,UFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
5,Aari McDonald,U,78586,R,"$89,302",RFA,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
6,Asia Durr (AD),TC,74305,RFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
7,Beatrice Mompremier,TC,74305,RFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
8,Rhyne Howard,U,73584,U,"$80,943",OPT,"$91,981",RFA,NaN,NaN,NaN,Atlanta Dream.csv
9,Iliana Rupert,U,67634,U,"$74,398",OPT,"$84,543",RFA,NaN,NaN,NaN,Atlanta Dream.csv
10,Naz Hillmon,U,64657,U,"$71,124",OPT,"$80,823",RFA,NaN,NaN,NaN,Atlanta Dream.csv
11,Mikayla Pivec,TC,62285,Reserved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
12,Lorela Cubaj,TC,62285,Reserved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlanta Dream.csv
17,Cap Room,NaN,295339,NaN,"$762,433",NaN,"$1,059,753",NaN,"$1,552,300",NaN,"$1,598,800",Atlanta Dream.csv

In [21]:
df = pd.read_csv('team-data/All Teams Pie.csv')
# df = df.astype({'2023':str,'2024':str,'2025':str,'2026':str,'2027':str})
years = ['2023', '2024', '2025', '2026', '2027']
def format(x):
    if (str(x) == 'nan'):
        return 0
    return int(x)
for i in years:
    df[i] = df[i].map(format)
dff = df[df['TEAM'] == "Atlanta Dream"]
dff

,PLAYER,2023 TYPE,2023,2024 TYPE,2024,2025 TYPE,2025,2026 TYPE,2026,2027 TYPE,2027,CORE YEARS,TEAM
0,Cheyenne Parker,V,216100,V,200000,UFA,0,NaN,0,NaN,0,NaN,Atlanta Dream
1,Allisha Gray,V,194600,V,185000,V,190000,UFA,0,NaN,0,NaN,Atlanta Dream
2,Danielle Robinson,V,155000,UFA,0,NaN,0,NaN,0,NaN,0,NaN,Atlanta Dream
3,Monique Billings,V,145000,UFA,0,NaN,0,NaN,0,NaN,0,NaN,Atlanta Dream
4,Nia Coffey,V,130000,UFA,0,NaN,0,NaN,0,NaN,0,NaN,Atlanta Dream
5,Aari McDonald,U,78586,R,89302,RFA,0,NaN,0,NaN,0,NaN,Atlanta Dream
6,Asia Durr (AD),TC,74305,RFA,0,NaN,0,NaN,0,NaN,0,NaN,Atlanta Dream
7,Beatrice Mompremier,TC,74305,RFA,0,NaN,0,NaN,0,NaN,0,NaN,Atlanta Dream
8,Rhyne Howard,U,73584,U,80943,OPT,91981,RFA,0,NaN,0,NaN,Atlanta Dream
9,Iliana Rupert,U,67634,U,74398,OPT,84543,RFA,0,NaN,0,NaN,Atlanta Dream
10,Naz Hillmon,U,64657,U,71124,OPT,80823,RFA,0,NaN,0,NaN,Atlanta Dream
11,Mikayla Pivec,TC,62285,Reserved,0,NaN,0,NaN,0,NaN,0,NaN,Atlanta Dream
12,Lorela Cubaj,TC,62285,Reserved,0,NaN,0,NaN,0,NaN,0,NaN,Atlanta Dream
13,Kia Vaughn,UFA,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,Atlanta Dream
14,Maite Cazorla,SuspCE,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,Atlanta Dream
15,Cap Room,NaN,295339,NaN,762433,NaN,1059753,NaN,1552300,NaN,1598800,NaN,Atlanta Dream
16,2023 Round 1 Pick 6 (6) (NYL),U,71300,U,72727,U,79999,OPT,90908,RFA,0,NaN,Atlanta Dream
17,2023 Round 1 Pick 8 (8) (WAS),U,71300,U,72727,U,79999,OPT,90908,RFA,0,NaN,Atlanta Dream
18,2023 Round 2 Pick 3 (15) (ATL),U,65290,U,66597,U,73258,OPT,83248,RFA,0,NaN,Atlanta Dream
19,2024 Round 1 Pick ? (?) (ATL),NaN,0,U,0,U,0,U,0,OPT,0,NaN,Atlanta Dream
20,2024 Round 2 Pick ? (?) (ATL),NaN,0,U,67249,U,68595,U,75456,OPT,85745,NaN,Atlanta Dream
21,2024 Round 3 Pick ? (?) (ATL),NaN,0,U,64154,U,65438,U,68711,OPT,78527,NaN,Atlanta Dream
22,2025 Round 2 Pick ? (?) (ATL),NaN,0,NaN,0,U,69267,U,70653,U,77720,NaN,Atlanta Dream
23,2025 Round 3 Pick ? (?) (ATL),NaN,0,NaN,0,U,66079,U,67401,U,70773,NaN,Atlanta Dream